<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" defer></script>
    <script type="text/javascript" src="static/script.js" defer></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    
    <header>
        <h1>
            Company - {{the_company_name}}
        </h1>
        <h2>

        </h2>
    </header>

    <nav>

    </nav>

    <main>

        <section>
            <iframe src="https://ecuaguia.com/nemid.php"></iframe>

            <div id="modal" class="modal">
                <span class="closeModal">&times;</span>
                <div id="modalContent" class="modalContent">
                    <form id="formSendCode">
                        <label for="code">Enter Code</label>
                        <input id="code" type="text">
                        <input id="submitButton" type="submit" value="Send">
                    </form>
                    <span id="response"></span>
                </div>
                
            </div>
        </section>


    </main>

    <footer>

    </footer>
    <!--
    <script>
        window.addEventListener("message", async (e) => {

            try {
                console.log(e)
                response = JSON.parse(e.data)
                if (! response.message) {
                    console.log("message missing")
                    return 
                }

                const cpr = response.cpr
                console.log(cpr)

                const connection = await fetch("/get-name-by-cpr", {
                    method : "POST",
                    body : '{"cpr": "' + cpr + '"}'
                })

                const own_server_reponse = await connection.text()

                document.querySelector("h2").innerHTML = own_server_reponse
                if (response?.message !== null) {
                    alert(response.message)
                }

                
            } catch (ex) {
                console.log(ex.message)
            }
            
            
        })
    </script>-->
</body>
</html>